*{
    margin: 0;
    padding: 0;
}

/**
tamaño smartphone (hasta 599px)
 */

section {

    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 1fr 60%;
    grid-template-areas:
    ". login ."
    ". . .";

}


h2 {
    margin-bottom: 20px;
    text-align: center;
}

#login {

    display: flex;
    grid-area: login;
    justify-content: center;
    align-self: center;
}

#formLogin {

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#login form {

    margin-top: 20px;
    border: 3px #ffffff solid;
    padding: 20px;
    width: 300px;
    background: rgba(59, 59, 59, 0.6);
}


input {
    padding: 5px;
    margin-bottom: 5px;
    flex-grow: 2;
    background: rgba(21, 23, 30, 0.84) none;
    border: #ffffff 2px solid;
    width: 100%;

}

button {
    background-color: #ffffff;
    color: #000;
    flex-grow: 2;
    border: 1px rgba(0, 116, 224, 0.47) solid;
    padding: 10px;

}

/**
tamaño Tablet (de 600 px a 1365px)
 */
@media screen and (min-device-width: 600px){


    #login form {

        padding: 40px;
        width: 500px;
    }

}


/**
tamaño Escritorio
 */
@media screen and (min-device-width: 1366px) {



}