input{
    background: none;
    outline: 0;
    flex-grow: 1;
    background: rgba(16, 17, 23, 0.84) none;
    border: #ffffff 2px solid;
    position: relative;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

 button{
    background-color: #ffffff;
    color: #000;
    outline: 0;
    flex-grow: 1;
    border: 1px rgba(0, 116, 224, 0.47) solid;
    padding: 7px;
}

#formSignUp{
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

h2{
    margin-bottom: 15px;
    text-align: center;
}

section{
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 1fr 60%;
    grid-template-areas:
    ". form ."
    ". . .";

}

#signUp{
    margin-top: 20px;
    grid-area: form;
    display: flex;
    justify-content: center;
    height: fit-content;
    align-self: center;
}

#signUp form{

    border: 3px #ffffff solid;
    padding: 10px;
    width: 300px;
}

@media screen and (min-device-width: 600px){
    #signUp{
        margin-top: 40px;
    }
    #signUp form{
        width: 500px;
        padding: 40px;
    }

}

