
input{
    background: none;
    outline: 0;
    flex-grow: 1;
    background: rgba(21, 23, 30, 0.84) none;
    border: #0074E0 2px solid;
    border-radius: 5px;
    position: relative;
}
 button{
    background-color: #0074E0;
    outline: 0;
    flex-grow: 1;
    border: 1px rgba(0, 116, 224, 0.47) solid;
    border-radius: 1px;
    padding: 7px;
}

#formSignUp{
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

h2{
    margin-bottom: 15px;
    text-align: center;
}

input{
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}
section{
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 1fr 60%;
    grid-template-areas:
    ". form ."
    ". . .";

}

body{
    background-image: url("../assets/img/shadowLands.jpg");
    background-position: center;
}

#signUp{
    margin-top: 20px;
    grid-area: form;
    display: flex;
    justify-content: center;
    height: fit-content;
    align-self: center;
}

#signUp form{
    background-color: rgba(169, 176, 178, 0.4);
    border: 3px #0074E0 solid;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
}


@media screen and (min-device-width: 600px){

    #signUp form{
        border: 3px #545e67 solid;
    }

    #signUp{
        margin-top: 40px;
    }
    #signUp form{
        width: 500px;
        padding: 40px;
    }
    .navOption{
        background: #60727c;
    }
    .navOption:hover{
        background: rgba(184, 100, 55, 0.38);
    }


}
@media screen and (min-device-width: 1366px){


}

